@import "tailwindcss";

@theme inline {
  --color-background: #f8f5ed;
  --color-foreground: #2a2a2a;

  --color-primary: #fbbe24;
  --color-primary-foreground: #ffffff;

  --color-secondary: #ff8804;
  --color-secondary-foreground: #4a3e2a;

  --color-accent: #5e6b4e;
  --color-accent-foreground: #ffffff;

  --color-muted: #e6e0d3;
  --color-muted-foreground: #7a7a7a;

  --color-destructive: #dc2626;
  --color-destructive-foreground: #ffffff;

  --color-card: #ffffff;
  --color-card-foreground: #2a2a2a;

  --color-popover: #ffffff;
  --color-popover-foreground: #2a2a2a;

  --color-border: #d0c7b3;
  --color-input: #fcfafa;
  --color-ring: #8d2e2e;
}

body {
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Merriweather", serif;
}

@layer utilities {
  .container {
    @apply !max-w-[90em] mx-auto px-2 md:px-6 py-4;
  }
}